body  {
	background: url(../images/products_bg.gif) repeat-x #333333 top left;
}

#nav {
	background: url(../images/products_nav_bg.gif) #333333 repeat-x left bottom;
}

#sidebar1 #producttree{
	margin-left: -20px;
}

#sidebar1 a:link { color: #000000; text-decoration: none; }
#sidebar1 a:visited { color: #000000; text-decoration:none; }
#sidebar1 a:hover {color: #00CC66; text-decoration: underline; }

#sidebar1 #foldandunfold {
	text-align: center;
}

#sidebar1 #downloadArea {
	padding-left: 10px;
}

#sidebar1 #downloadAllArea{
	padding: 20px 0 20px 0;
	text-align: center;
}

#sidebar2 img {
	margin-bottom: 10px;
	border: 2px solid #CCC;
}

#mainContent h2 {
	background: url(../images/h2_bg.gif) no-repeat left center;
	padding-left: 18px;
	font-size: 14px;
	line-height: 14px;
}

#mainContent h3 {
	background: url(../images/thumb_up.gif) no-repeat left center;
	padding-left: 35px;
	font-size: 14px;
	line-height: 25px;
}

#mainContent ul li {
	padding: 0;
	margin: 0 0 5px 0;
	list-style: square;
	font-size: 12px;
}

#mainContent a:link { color: #000000; text-decoration: underline; }
#mainContent a:visited { color: #000000; text-decoration: underline; }
#mainContent a:hover {color: #000000; text-decoration: underline; }

.seperator {
	max-width: 400px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding-top: 10px;
	padding-bottom: 10px;
}

#productIntro {
	padding: 0;
	margin: 0;
	border: 1px solid;
	width: 640px;
}

a img {
	border: none;
}

#downloadArea {
	width: 620px;
	text-align: right;
	padding: 10px 10px 10px 10px;
	margin-right: 0;
	border: 1px solid #CCCCCC;
}

#downloadArea img{
	padding: 2px 2px 2px 2px;
	border: 1px solid #000000;
}

#certification {
	text-align: center;
	margin: 20px 0 20px 0;
}

#category {
	height: 126px;
	padding: 10px 100px 0 100px;
	text-align: justify;
}

.ironContainer {
	background: url(../chs/products/images/head_iron.gif) top left no-repeat #FFF;
}

.plasticContainer{
	background: url(../chs/products/images/head_plastic.gif) top left no-repeat #FFF;
}

#category h1 {
	background: none;
	text-align: center;
	margin: 20px;
	padding: 0 50px 0 50px;
	font-size: 24px;
}

#productDetails {
	margin: 30px 30px 0px 30px;
}

#productDetails h2 {
	background: url(../images/bulletin.gif) left center no-repeat;
	padding-left: 10px;
	font-size: 18px;
	margin-bottom: -10px;
}
#productDetails p{
	padding-left: 10px;
	font-size: 14px;
}
#productDetails ul{
	padding: 0;
	margin-left: 30px;
}

#productDetails li{
	padding-left: 10px;
	font-size: 14px;
	margin-bottom: 5px;
}

#productApp {
	text-align:center;
}

#productApp img {
	padding: 0;
	margin: 0 10px 0 10px;
	border: 1px solid #333333;
}

/*
#warning {
	position: absolute;
	bottom: 0px;
}
*/

#warning p {
	font-size: 12px;
	text-align: left;
	margin: 30px 10px 10px 10px;
}
